<h1>Carrito {{cartId}}</h1>
<ul>
  {{#each items}}
    <li>
      <strong>#{{this.product}}</strong>
      {{#if this.productData}}
        - {{this.productData.title}} (${{this.productData.price}})
      {{else}}
        - (producto no disponible)
      {{/if}}
      - qty: {{this.quantity}}
    </li>
  {{/each}}
</ul>

<p><a href="/products">Volver a productos</a></p>
